---
# Compiled by jekyll
---

$root: 'http://linode.github.io/developers/styles/';
@import "base";

table {
    @extend .table;
}

html, body {
    min-height: 100%;
    height: 100%;
}

body {
    position: relative;
}

h1, h2, h3, h4, h5 {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.container {
    min-width: 320px;
}

.elevated, .card, .header h1, .marketing-container h1, .btn {
    box-shadow: none;
}

.cards-container {
    h4 {
        margin-top: 0;
        margin-bottom: 0;
    }

    .card-img-bottom {
        display: block;
        width: 100%;
    }

    .card-img-col.col-md-12 {
        padding-right: 0;
    }
}

header {
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: 9999;
}

.header {
    position: relative;
    padding-bottom: 1rem;
}

nav {
    position: relative;
}

.marketing-container {
    @extend .header;
    height: 27rem;
    position: relative;

    .marketing-copy {
        padding: 30px;
        position: relative;
    }

    .marketing-copy-background {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, .75);
        z-index: -1;
    }

    .bg-middle {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        background:
            url($root + '/assets/BH_07 Foreground.svg'),
            url($root + '/assets/BH_06 Trees.svg');
        background-size: auto 27rem;
    }

    .bg-clouds {
        position: absolute;
        left: 0; right: 0; top: 0; bottom: 0;
        background:
            url($root + '/assets/BH_02 Clouds v2.svg'),
            url($root + '/assets/BH_01 Sky.svg');
        background-size: auto 27rem;
    }
    
    .marketing-copy {
        position: relative;
        left: -1rem;
        top: 30px;
        background: rgba(0, 0, 0, .75);
        padding: 30px;
        display: inline-block;

        h1 {
            display: inline;
            margin-top: 0;
            padding-left: 0;
            padding-top: 0;
            color: white;
            background: transparent;
            border: 0;
            box-shadow: none;
            font-family: "Montserrat", sans-serif;

            .alpha {
                color: lighten(red, 10);
                vertical-align: super;
                font-size: 18px;
                letter-spacing: initial;
                font-weight: bold;
            }
        }

        @media (max-width: 557px) {
            padding: 15px;

            h1 .alpha {
                font-size: 12px;
            }
        }

        .space {
            display: inline-block;
        }

        h2 {
            display: inline;
            color: white;
            font-family: sans-serif;
            font-size: 1.5rem;
            padding-top: -10px;
            padding-bottom: 20px;
        }

        $btn-width: 263.047px; /* set to be the max width (as seen) of both of these links */
        #marketing-documentation {
            border: 0;
            width: $btn-width;
        }

        #marketing-contribute {
            background: white;
            border: 0;
            width: $btn-width;

            @media (max-width: 557px) {
                margin-top: 1px;
            }
        }
    }
}

.marketing-container-append {
    padding: 1.5rem 0;
    background: #E2F3FF;
    border-bottom: 1px solid #e9e9e9;
    margin-bottom: 1rem;

    h2 {
        margin: 0;
        font-size: 1.5rem;
        line-height: 2;
    }
}

body > .container {
    margin-top: 2.5rem;
}

p {
    margin: 10px 0;
}

.reference-container .highlight {
    padding: 0 !important;
    background-color: #2E3032 !important;
    margin-top: 10px;
    pre {
        padding: 4px 10px !important;
    }
}

article {
     max-width: 800px;
     margin: 0 auto;
}

.guide-card {
    padding: 1rem;
}

code {
    color: black;
}

.content {
    padding-bottom: 3rem;
}

.btn-default {
    background: #f8f8f8;
}

@import "../css/reference";
@import "../css/sticky-nav";
