.schema {
    .prop {
        margin-left: 1rem;
    }

    &.card {
        padding: 1rem;
    }

    .prop-name {
        .name {
            color: #43A7FD;
            font-weight: bold;
        }
    }

    .right & {
        padding: 1rem;
        color: grey;

        a {
            color: lighten($link-color, 20);
            text-decoration: underline;
        }

        .description {
            color: white;
        }

        .value {
            color: white;
        }
    }
}
