@import "../css/objects";
@import "../css/syntax";

.reference-container {
    position: relative;
    min-height: calc(100% - 10.5rem);
    padding: 0;
    margin: 0;

    .spacing {
        height: 2rem;
    }
}

.sticky {
    position: sticky;
    top: 0;

    padding-right: 0;

    .nav {
        padding-right: 0;
        padding-left: 1rem;
    }

    & > .nav {
        padding-left: 0;
    }
}

body {
    background: #f6f6f6;
}

.elevated-content {
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.12), 0px 1px 6px rgba(0, 0, 0, 0.24);
    background: white;
}

.reference-bg {
    position: absolute;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin-right: 0;

    .row {
        margin-right: 0;
    }

    .right {
        background: #373A3C;
        height: 100%;
    }
}

.reference-container .nav {
    .nav-item {
        .nav-link {
            padding-top: 0.1rem;
            padding-bottom: 0.1rem;
            background-color: inherit;
            color: $link-color;
            transition: all 0.1s linear;
            border-left: 4px solid transparent;

            &.active {
                border-left: 4px solid black;
                background: #ddd;
                color: black;
            }
        }
    }
}

.reference {
    position: relative;
    z-index: 1;

    & > div {
        padding: 0 2rem;
    }

    .right {
        color: white;

        h3 {
            font-size: 1.4rem;
        }
    }

    h4 {
        border: none !important;
    }
}

.endpoint-method {
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    &:last-child {
        border: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.left {
    h1, h2, h3, h4, h5 {
        margin-top: 1rem;
        padding-bottom: 0.5rem;
        margin-bottom: 0.5rem;
        border-bottom: 1px solid grey;
    }
}

h5 {
    padding: 0;
    margin: 0;
}

hr {
    position: relative;
    z-index: 9999;
}
