<div class="row reference white">
    <div class='col-lg-6 left'>
        <h3>{{ include.class.name }}<span id="{{ include.class.name | remove: " " }}">&nbsp;</span></h3>
    </div>
    <div class='col-lg-6 right'>
        <h3>{{ include.class.name }}</h3>
    </div>
</div>
<div class="row reference white">
    <div class='col-lg-6 left'>
        {{ include.class.desc }}
    </div>
    <div class='col-lg-6 right'>
        {% highlight python %}{{ include.class.import}}{% endhighlight %}
    </div>
</div>
{% assign obj = site.data.objects[include.class._object] %}
{% if obj %}
    {% include class-attributes-python.html obj=obj pyattrs=include.class._pylib_attributes %}
{% endif %}
<div class="row reference white">
    <div class='col-lg-6 left'>
        <h5>
            constructor: {{ include.class.constructor.name }}(
                {% for p in include.class.constructor.parameters %}
                    {{ p[0] }}{% if p[1]._keyword %}={{ p[1]._default }}{% endif %}{% if forloop.last != true %},{% endif %}
                {% endfor %}
            )
        </h5>
    </div>
</div>
<div class="row reference white">
    <div class='col-lg-6 left'>
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                </tr>
            </thead>
            {% for param in include.class.constructor.parameters %}
            <tr>
                <td width="30%">
                    {{ param[0] }}
                    {% if param[1]._keyword %}
                        <br/>
                        <span class="text-muted">{{ param[1]._default }}</span>
                    {% endif %}
                </td>
                <td>{{ param[1].desc }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class='col-lg-6 right'>
        <table><tr><td>
        <h5>constructor</h5></td></tr>
        <tr><td>
        {% highlight python %}{{ include.class.constructor.example }}{% endhighlight %}
        </td></tr></table>
    </div>
</div>
{% include class-methods-python.html methods=include.class.methods classname=include.class.name %}
{% for g in include.class.groups %}
<div class="row reference white">
    <div class='col-lg-6 left'>
        <h4>{{ g[1].name }} Group</h4>
        <p>{{ g[1].desc }}</p>
    </div>
    <div class='col-lg-6 right'>
        <table><tr><td>
        <h5>{{ include.class.name }}.{{ g[0] }}</h5></td></tr>
        <tr><td></tr></td>
        </table>
    </div>
</div>
{% capture group_path %}{{ include.class.name }}.{{ g[0] }}{% endcapture %}
{% assign gmethods = g[1].methods %}
{% include class-methods-python.html methods=gmethods classname=group_path %}
{% endfor %}
