<div class="row reference white">
    <div class="col-lg-6 left">
        <h3>
            {{ include.schema.name }}
            <span class="anchor" id="ep-{{include.name}}">&nbsp;</span>
        </h3>
        <p>{{include.schema.description}}</p>
    </div>
</div> 
{% for endpoint in include.schema.endpoints %}
<div class="row reference white">
    <div class="col-lg-6 left">
        <h4>
            /{{ site.api_version }}/{{ endpoint[0] }}
            {% if endpoint[1].authenticated %}
                <small class="text-muted">
                    <i class="fa fa-lock"></i> Authenticated
                </small>
            {% endif %}
            <span class="anchor" id="ep-{{ endpoint[0] | replace: '/', '-' | replace: ':', '' }}-methods">&nbsp;</span>
        </h4>
    </div>
</div>
<div class="row reference white">
    <div class="col-lg-6 left">
        <p>{{ endpoint[1].description }}</p>
    </div>
</div>
<div class="endpoint-methods">
{% for method in endpoint[1].methods %}
<div class="row reference endpoint-method white">
    <div class="col-lg-6 left">
        <div class="row">
            <div class="col-md-12">
                <h5 style="margin-top: 0; border: none" >
                    {{ method[0] }}
                    <span class="anchor" id="ep-{{ endpoint[0] | replace: '/', '-' | replace: ':', '' }}-{{method[0]}}">&nbsp;</span>
                    {% if method[1].oauth %}
                    <br />
                    <small class="text-muted">
                        <i class="fa fa-key"></i>
                        {{ method[1].oauth }}
                    </small>
                    {% endif %}
                    {% if method[1].money %}
                    <br />
                    <small class="text-muted">
                        <i class="fa fa-money"></i> Will cost money
                    </small>
                    {% endif %}
                </h5>
                <p>
                {{ method[1].description }}
                </p>
                {% if method[0] == "PUT" %}
                {% for o in site.data.objects %}
                {% if o[0] == endpoint[1].resource %}
                    {% assign obj = o[1] %}
                {% endif %}
                {% endfor %}
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Parameter</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for prop in obj.schema %}
                        {% assign name = prop[0] %}
                        {% assign info = prop[1] %}
                        {% include render-property-table.html name=name info=info editable=true %}
                    {% endfor %}
                    </tbody>
                </table>
                <p>
                <em>See the
                    <a href="#object-{{ endpoint[1].resource }}">
                        {{ obj.name }}
                    </a> 
                    object for the full reference.</em>
                </p>
                {% endif %}
                {% if method[1].params %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Parameter</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for param in method[1].params %}
                            <tr>
                                <td>
                                    {{ param[0] }}
                                    {% if param[1].optional %}
                                        <br /><span class="text-muted">optional</span>
                                    {% endif %}
                                </td>
                                <td>
                                    {{ param[1].description }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-6 right examples">
        <h5>
            {{ method[0] }} /{{ endpoint[0] }}
        </h5>
        {% highlight bash %}{{ method[1].examples.curl | replace:'$version',site.api_version | replace:'$api_root',site.api_root }}{% endhighlight %}
    </div>
</div>
{% endfor %}
</div>
{% if forloop.last == false %}
<div class="row">
    <div class="col-lg-6">
        <hr />
    </div>
</div>
{% endif %}
{% endfor %}
