<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Overview</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Plans &amp; Pricing
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/linodes">
                            Features
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/backups">
                            Backups
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/nodebalancers">
                            NodeBalancers
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/longview">
                            Longview
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/managed">
                            Managed
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/professional-services">
                            Professional Services
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/stackscripts">
                            StackScripts
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/mobile">
                            Mobile
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/cli">
                            CLI
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/api">
                            API
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Resources</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linode.com/docs/getting-started">
                            Getting Started
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/docs/migrate-to-linode/migrate-from-shared-hosting">
                            Migrating to Linode
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/docs/websites/hosting-a-website">
                            Hosting a Website
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/docs">
                            Guides &amp; Tutorials
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/compliance">
                            Standards &amp; Compliance
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/speedtest">
                            Speed Test
                        </a>
                    </li>
                    <li>
                        <a href="https://forum.linode.com/">
                            Forum
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/chat">
                            Chat
                        </a>
                    </li>
                    <li>
                        <a href="http://status.linode.com/">
                            System Status
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Company</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linode.com/about">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/employees">
                            Employees
                        </a>
                    </li>
                    <li>
                        <a href="https://blog.linode.com/">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/events">
                            Events
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/press">
                            Press
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/case-studies">
                            Case Studies
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/logos">
                            Logos
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/referrals">
                            Referral System
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/careers">
                            Careers
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/contact">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact Us</h4>
                <p>
                <a href="tel:+18554546633">885-4-LINODE</a><br />
                <a href="tel:+18554546633">(885-454-6633)</a><br />
                <a href="mailto:support@linode.com">Email us</a>
                </p>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-facebook-square"></i>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-google-plus"></i>
                            Google+
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-linkedin-square"></i>
                            LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="darker">
        <div class="container">
            <div class="row text-centered">
                <div class="col-md-2 col-md-offset-2">
                     © 2015 Linode, LLC
                </div>
                <div class="col-md-2">
                    <a href="https://www.linode.com/tos">
                        Terms of Service
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.linode.com/privacy">
                        Privacy Policy
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="https://www.linode.com/security">
                        Security
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
