<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4>Overview</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Plans &amp; Pricing
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Features
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Backups
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            NodeBalancers
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Longview
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Managed
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Professional Services
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            StackScripts
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Mobile
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            CLI
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            API
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Resources</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Getting Started
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Migrating to Linode
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Hosting a Website
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Guides &amp; Tutorials
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Standards &amp; Compliance
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Speed Test
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Forum
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Chat
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            System Status
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Company</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linode.com/pricing">
                            About Us
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Employees
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Blog
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Events
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Press
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Case Studies
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Logos
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Referral System
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Careers
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4>Contact Us</h4>
                <p>
                885-4-LINODE<br />
                (885-454-6633)<br />
                <a href="mailto:support@linode.com">Email us</a>
                </p>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-facebook-square"></i>
                            Facebook
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-twitter"></i>
                            Twitter
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-google-plus"></i>
                            Google+
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-linkedin-square"></i>
                            LinkedIn
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linode.com/pricing">
                            <i class="fa fa-github"></i>
                            GitHub
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row text-centered">
            <div class="col-md-2 col-md-offset-2">
                 © 2015 Linode, LLC
            </div>
            <div class="col-md-2">
                <a href="https://www.linode.com/tos">
                    Terms of Service
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://www.linode.com/privacy">
                    Privacy Policy
                </a>
            </div>
            <div class="col-md-2">
                <a href="https://www.linode.com/security">
                    Security
                </a>
            </div>
        </div>
    </div>
</footer>
