<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
            <div class="col-md-3">
            </div>
        </div>
        <div class="row text-centered">
            <div class="col-md-3">
                 © 2015 Linode, LLC
            </div>
            <div class="col-md-3">
                <a href="https://www.linode.com/tos">
                    Terms of Service
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.linode.com/privacy">
                    Privacy Policy
                </a>
            </div>
            <div class="col-md-3">
                <a href="https://www.linode.com/security">
                    Security
                </a>
            </div>
        </div>
    </div>
</footer>
