<!-- This is (probably) temporary and was copied and pasted from linode.com -->
<header>
  <nav id="main-nav" class="navbar navbar-dark" role="navigation">
    <div class="container">
        <a class="navbar-brand" href="https://linode.com">
            <img id="navbar-logo" src="/styles/assets/linode-logo.svg"
                width="115" height="45" />
        </a>
        <p class="nav-text">
            <a href="/"><strong>Developer</strong></a>
        </p>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/guides">Guides</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/reference">API Reference</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/libraries">Libraries</a>
            </li>
        </ul>
  </nav>
  </div>
</header>
