<!-- This is (probably) temporary and was copied and pasted from linode.com -->
<header class="container">
    <nav id="main-nav" class="navbar navbar-dark bg-inverse" role="navigation">
        <a class="navbar-brand" href="https://linode.com/">
            <img id="navbar-logo" src="https://linode.com/media/images/header/linode_logo_white.png" />
        </a>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://linode.com/linodes">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://linode.com/pricing">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://linode.com/addons">Add-ons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="collapse" data-target="#nav-extended" href="#">
                    Resources <i class="fa fa-caret-down"></i>
                </a>
            </li>
        </ul>
        <ul class="pull-right nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="https://manager.linode.com/">
                    Log in
                    <i class="text-success fa fa-caret-right" style="margin-left: 0.25rem"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link btn btn-success" href="https://manager.linode.com/session/signup">
                    Sign up
                </a>
            </li>
        </ul>
        <div id="nav-extended" class="navbar navbar-extended navbar-dark bg-inverse collapse">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linode.com/docs">
                        <i class="fa fa-book"></i>
                        Guides &amp; Tutorials
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.linode.com/chat">
                        <i class="fa fa-comment"></i>
                        Chat
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://forum.linode.com/">
                        <i class="fa fa-users"></i>
                        Forum
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://blog.linode.com/">
                        <i class="fa fa-rss"></i>
                        Blog
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fa fa-medkit"></i>
                        Status
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fa fa-hand-peace-o"></i>
                        About Us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <i class="fa fa-question"></i>
                        Support
                    </a>
                </li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                <a class="nav-link" data-toggle="collapse" data-target="#nav-extended" href="#">
                    <i class="fa fa-times"></i>
                </a>
            </ul>
        </div>
    </nav>
</header>
