<div class="row reference white">
    <div class="col-lg-6 text-justify left">
        <h3>
            {{ include.schema.name }}
            <span class="anchor" id="object-{{include.name}}">&nbsp;</span>
        </h3>
        <p>{{include.schema.description}}</p>
    </div>
    <div class="col-lg-6 right hidden-lg-down">
    </div>
</div> 
<div class="row reference white">
    <div class="col-lg-6 left">
        <table class="table table-striped">
            <thead class="thead-inverse">
                <tr>
                    <th>Property</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
            {% for prop in include.schema.schema %}
                {% assign name = prop[0] %}
                {% assign info = prop[1] %}
                {% include render-property-table.html name=name info=info %}
            {% endfor %}
            </tbody>
        </table>
        {% if include.schema.enums %}
        {% for enum in include.schema.enums %}
            {% assign name = enum[0] %}
            {% assign values = enum[1] %}
            <h4>{{ name }} Enumeration<span class="anchor" id="object-{{ name | replace: " ", "-" | downcase}}-enum">&nbsp;</span></h4>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>
                            Value
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in values %}
                    <tr>
                        <td>
                            <strong>{{ v[0] }}</strong>
                        </td>
                        <td>
                            {{ v[1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
        {% endif %}
    </div>
    <div class="col-lg-6 right">
        <div class="schema">
            <div class="open">{</div>
            {% for prop in include.schema.schema %}
                {% assign name = prop[0] %}
                {% assign info = prop[1] %}
                {% assign endswith = "," %}
                {% if forloop.last == true %}
                    {% assign endswith = "" %}
                {% endif %}
                {% include render-property-json.html name=name info=info endswith=endswith %}
            {% endfor %}
            <div>}</div>
        </div>
    </div>
</div>
