<div class="row reference">
    <div class="col-md-6 text-justify left">
        <h3 id="object-{{include.name}}">{{ include.schema.name }}</h3>
        <p>{{include.schema.description}}</p>
    </div>
</div> 
<div class="row reference">
    <div class="col-md-6 left">
        <div class="schema card">
            <div class="open">&nbsp;</div>
            {% for prop in include.schema.schema %}
                {% assign name = prop[0] %}
                {% assign info = prop[1] %}
                {% include render-prop-right.html name=name info=info %}
            {% endfor %}
            <div>&nbsp;</div>
        </div>
    </div>
    <div class="col-md-6 right">
        <div class="schema">
            <div class="open">{</div>
            {% for prop in include.schema.schema %}
                {% assign name = prop[0] %}
                {% assign info = prop[1] %}
                {% include render-prop.html name=name info=info %}
            {% endfor %}
            <div>}</div>
        </div>
    </div>
</div>
{% if include.schema.enums %}
<div class="row reference">
    <div class="col-md-6 text-justify left">
        {% for enum in include.schema.enums %}
            {% assign name = enum[0] %}
            {% assign values = enum[1] %}
            <h4>{{ name }} Enumeration</h4>
            <table class="table table-striped">
                <thead class="thead-inverse">
                    <tr>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for v in values %}
                    <tr>
                        <td>
                            {{ v[0] }}
                        </td>
                        <td>
                            {{ v[1] }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endfor %}
    </div>
</div> 
{% endif %}
