<!--Renders a property for the object reference-->
<div class="prop">
    <span class="prop-name">
        "<span class="name">{{ include.name }}</span>":
    </span>
    {% if include.info._type %}
        {% case include.info._type %}
        {% when "integer" or "boolean" %}
            <span class="value">{{ include.info._value }}</span>{{ include.endswith }}
        {% when "string" or "datetime" %}
            "<span class="value">{{ include.info._value }}</span>"{{ include.endswith }}
        {% when "enum" %}
            "<span class="value">{{ include.info._value }}</span>"{{ include.endswith }}
            <span class="pull-right">
                <i class="fa fa-arrow-right"></i>
                {{ include.info._subtype }} enum
            </span>
        {% when "array" %}
            <span class="array">
            [
            {% for val in include.info._value %}
                {% case include.info._subtype %}
                {% when "integer" or "boolean %}
                    <span class="value">{{val}}</span>
                {% when "string" or "datetime" %}
                    "<span class="value">{{val}}</span>"
                {% else %}
                    {% if forloop.first %}
                        {% include render-object-link.html type=include.info._subtype %}
                    {% endif %}
                    {% include render-object-json.html obj=val %}
                {% endcase %}
                {% if forloop.last %}
                {% else %}
                    ,
                {% endif %}
            {% endfor %}
            ]{{ include.endswith }}
            </span>
        {% else %}
            {% include render-object-json.html obj=info endswith=include.endswith %}
            {{ include.endswith }}
        {% endcase %}
    {% else %}
        {% include render-object-json.html obj=info endswith=include.endswith %}{{ include.endswith }}
    {% endif %}
</div>
