{% if include.editable != true or include.info._editable %}
<tr>
    <td>
        {{ include.name }}
    </td>
    <td>
        {% if include.info._editable and include.editable != true %}
        <span class="text-muted pull-right" title="Editable">
            <i class="fa fa-pencil"></i>
        </span>
        {% endif %}
        {% if include.info._filterable %}
        <span class="text-muted pull-right" title="Filterable">
            <i class="fa fa-filter"></i>
        </span>
        {% endif %}
        {% if include.info._type %}
            {% case include.info._type %}
            {% when "integer" or "boolean" or "string" or "array" %}
                <span class="description">
                    {% if include.info._description %}
                    {{ include.info._description }}.
                    {% else %}
                    A {{ include.info._type }}.
                    {% endif %}
                    {% if include.info._limit %}
                    Must be {{ include.info._limit }}.
                    {% endif %}
                </span>
            {% when "datetime" %}
                <span class="description">
                    {% if include.info._description %}
                    {{ include.info._description }}.
                    {% else %}
                    ISO 8601 datetime.
                    {% endif %}
                </span>
            {% when "enum" %}
                <span class="description">
                    {{ include.info._description }}.
                </span>
            {% else %}
                <!-- linked type -->
                <div class="description">
                    A
                    <a href="#object-{{ include.info._type }}">
                        <!--
                            liquid is stupid sometimes
                            this code SHOULD be:
                                { site.data.objects[_include.info._type].name }
                            but liquid does not let you use hashes with variables
                        -->
                        {% for o in site.data.objects %}
                        {% if o[0] == include.info._type %}
                            {{ o[1].name }}
                        {% endif %}
                        {% endfor %}
                        <!-- end liquid is stupid sometimes -->
                    </a>
                    object.
                </div>
            {% endcase %}
        {% else %}
            <span class="description">
                {{ include.info._description }}.
                {% if include.info._limit %}
                Must be {{ include.info._limit }}.
                {% endif %}
            </span>
        {% endif %}
    </td>
</tr>
{% endif %}
