<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="https://www.linode.com/favicon.ico" type="image/x-icon" />
        <title>
            {% if page.title %}
                {% if page.override_title %}
                    {{ page.title }}
                {% else %}
                    {{ page.title }} - Linode Developer
                {% endif %}
            {% else %}
                Linode Developer
            {% endif %}
        </title>
        <link rel="stylesheet" href="/css/developers.css?ver=1" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    </head>
    <body id="top">
        <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M3XXZX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-M3XXZX');</script>
        <!-- End Google Tag Manager -->
        <script src="/styles/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"></script>
        <script src="/styles/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/js/stickyfill.min.js"></script>
        {{ content }}
    </body>
</html>
